<h3>お気に入り</h3>
<table class="table">
  <% if favorite_wordnotes && favorite_wordnotes.size > 0 %>
    <tr>
      <th> 単語帳名前 </th>
      <th> タイプ </th>
      <th> 単語数 </th>
      <th> 設定 </th>
      <th> 作者 </th>
      <th> 削除 </th>
    </tr>
    <% favorite_wordnotes.each do |wordnote| %>
      <% if wordnote.is_open == true || @user.id == wordnote.user_id %>
      <tr id="wordnote-no-<%= wordnote.id %>">
        <td> <%= link_to wordnote.name, user_wordnote_url(user_id: wordnote.user_id, id: wordnote.id) %> </td>
        <td> <%= wordnote.subject  %> </td>
        <td> <%= wordnote.tangos.size  %> </td>
        <% #binding.pry #ここまで %>
        <td> <button class="btn" id="config-no-<%= wordnote.id %>"><i class="fa fa-cog"></i></button> 
          <%= render partial: "tango_configs/hidden_tags", locals: {wordnote: wordnote} %>
        </td>
        <td> <%= link_to wordnote.user.name, user_url(id: wordnote.user_id)  %> </td>
        <td>
          <%= form_with model: Favorite ,url: change_favorite_path, id: 'favorite-delete-no-' + wordnote.id.to_s, data: {confirm: '本当に削除しますか？'} do |f| %>
            <%= f.hidden_field :user_id, value: wordnote.user_id %>
            <%= f.hidden_field :wordnote_id, value: wordnote.id %>
            <%= f.hidden_field :current_user_id, value: current_user.id %>
            <%= button_tag type: "submit", class: "brn", style: "border-style: none;" do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  <% else %>
  <% end %>
</table>

