<% if @wordnotes.size > 0 %>
<h3>作成した単語帳</h3>
  <table class="table">
    <tr>
      <th> 単語帳名前 </th>
      <th> タイプ </th>
      <th> 単語数 </th>
      <th> 設定 </th>
      <% if @current_user.id == @user.id %>
      <th> 編集 </th>
      <% end %>
      <th> お気に入り </th>
      <th> 更新日 </th>
      <% if @current_user.id == @user.id %>
      <th> 削除 </th>
      <% end %>
    </tr>
    <% @wordnotes.each do |wordnote| %>
      <% if wordnote.is_open == true || @current_user.id == wordnote.user_id %>
      <tr id="wordnote-no-<%= wordnote.id %>">
        <td <%= 'class=not-open' if wordnote.is_open == false %>> <%= link_to wordnote.name, user_wordnote_url(user_id: user.id, id: wordnote.id) %> </td>
        <td> <%= wordnote.subject  %> </td>
        <td> <%= wordnote.tangos.size  %> </td>
        <td> <button class="btn " id="config-no-<%= wordnote.id %>"><i class="fa fa-cog"></i></button> 
        <%= render partial: "tango_configs/hidden_tags", locals: {wordnote: wordnote} %>
        </td>
        <% if @current_user.id == wordnote.user_id %>
          <td>
          <button class="btn " id="edit-no-<%= wordnote.id %>"><i class="fa fa-book"></i></button> 
          <%= render partial: "wordnotes/hidden_tags", locals: {wordnote: wordnote} %>
          </td>
        <% end %>
        <td>
          <%= render partial: "favorites/fav_btn", locals: {wordnote: wordnote, user: @user, current_user: @current_user} %>
        </td>
        <% last_update = wordnote.tangos.last ? wordnote.tangos.last.updated_at : wordnote.updated_at %>
        <td> <%= last_update.to_s.split(" +").first %> </td>
        <% if @current_user.id == wordnote.user_id %>
        <td> <%= link_to(wordnote_url(user_id: user.id, id: wordnote.id) , method: :delete , data: {confirm: "本当に削除しますか？"}, remote: true) do %>
            <%= button_tag type: "submit", style: "border-style: none;" do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </table>
<% else %>
  <h3>まだ単語帳は登録されていません。 </h3>
<% end %>

