<% @title = "アカウント情報" %>

<h1 class="edit-user-form"><%= @title %></h1>
<div id="edit-user-form">
 <%= link_to "ログアウト", :session, method: :delete, class: "logout-btn btn btn-info" %>
 <%= form_with model: @user, url: :user, local: true do |f| %>
   <%= render "form", f: f %>
 <% end %>
 <%= link_to "ユーザー削除", user_path(@user), method: :delete, data: {confirm: "本当に削除しますか？"} ,class: "btn btn-danger" %>
</div>
